body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

.sameRow {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #f0f0f0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.sameRow.center {
  align-items: center;
}

.input {
  width: 100%;
}

.space {
  margin-left: 0.5rem;
}

.noBullet {
  list-style-type: none;
}
